.cards {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 65px;
    
}

@media screen and (max-width: 425px) {
  .cards { 
    padding-top: 35px;
  	padding-bottom: 50px;
  }} 

@media screen and (max-width: 320px) {
  .cards { 
    padding-right: 19px;
    padding-left: 19px;
  }}