.popup {
  z-index: 2;
  width: 100%; 
  position: fixed;
  top: -35px;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

@media screen and (max-width: 520px) {
  .popup { 
    margin-top: 75px;
  }} 

