.popup__container_img {
  max-width: 75vw;
  max-height: 75vh;
  background: none;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content 15px;
  gap: 10px;
  width: fit-content;
  margin: 90px auto 0;
  padding: 0;
}


