.cards__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(284px, 1fr));
  grid-auto-rows: 1fr;
  gap: 18px;
  justify-content: center;
  object-fit: cover;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}