.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

@media screen and (max-width: 900px) {
  .profile { 
    flex-direction: column;
  }}

@media screen and (max-width: 320px) {
  .profile { 
    padding-right: 19px;
    padding-left: 19px;
  }}