.popup__close {
  position: absolute;
  left: 98%;
  bottom: 97%;
  background-color: transparent;
  border: none;
  padding: 0;
}
@media screen and (max-width: 550px) {
  .popup__close { 
    left: 94%;
    bottom: 102%;
}} 