.popup__close {
  position: absolute;
  left: 100%;
  bottom: 95%;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (max-width: 520px) {
  .popup__close { 
    left: 95%;
    bottom: 100%;
  }} 