.root {
  max-width: 882px;
  min-width: 282px;
  margin: 0 auto;
  padding: 45px auto 60px;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .root { 
    padding: 40px 36px 56px;
  }} 

@media screen and (max-width: 768px) {
  .root { 
    padding: 28px 25px 36px;
  }} 

@media screen and (max-width: 425px) {
  .root { 
    padding-right: 24px;
    padding-left: 24px; 
  }} 

@media screen and (max-width: 320px) {
  .root { 
    padding-right: 19px;
    padding-left: 19px; 
  }} 
