.popup__close-icon {
  display: block;
  width: 52px;
  height: 52px;
}
@media screen and (max-width: 550px) {
  .popup__close-icon { 
    width: 26px;
    height: 26px; 
}} 
.popup__close-icon:hover {
  opacity: .6;
  cursor: pointer;
}